@charset "UTF-8";
*:focus {
  outline: 0; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.menu {
  background: #ce0038;
  padding: 30px 50px;
  font-size: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 5; }
  @media (min-width: 0) and (max-width: 600px) {
    .menu {
      padding-left: 10px; } }
  .menu img {
    width: 110px;
    display: inline-block;
    vertical-align: middle; }
  .menu nav {
    display: inline-block;
    vertical-align: middle;
    width: 100%; }
    .menu nav ul {
      display: inline-block;
      width: 90%;
      text-align: center;
      padding: 0 10px 0 10px; }
      @media (min-width: 0) and (max-width: 800px) {
        .menu nav ul {
          position: fixed;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 50px;
          background: #060030;
          line-height: 2.5; } }
      @media (min-width: 0) and (max-width: 600px) {
        .menu nav ul {
          line-height: 3.5; } }
      .menu nav ul li {
        display: inline-block;
        margin-right: 20px; }
        @media (min-width: 0) and (max-width: 600px) {
          .menu nav ul li {
            margin-right: 15px; } }
        .menu nav ul li a {
          font-size: 20px;
          letter-spacing: 0.06em;
          color: #ffffff;
          text-decoration: none;
          font-family: "Roboto", sans-serif; }
          .menu nav ul li a:hover {
            color: #ffec00; }
          .menu nav ul li a::after {
            content: "";
            display: block;
            width: 0;
            height: 2px;
            background: #ffec00;
            -webkit-transition: width 0.3s;
            -o-transition: width 0.3s;
            transition: width 0.3s; }
          .menu nav ul li a:hover::after {
            width: 100%; }
          @media (min-width: 0) and (max-width: 600px) {
            .menu nav ul li a {
              font-size: 14px;
              letter-spacing: 0.03em; } }
  .menu .card {
    background: #ffec00;
    border-radius: 3px;
    width: 201px;
    height: 50px;
    display: inline-block;
    position: absolute;
    right: -18px;
    -webkit-transform: skew(-35deg, 0deg);
    -ms-transform: skew(-35deg, 0deg);
    transform: skew(-35deg, 0deg); }
    .menu .card .Y-icon {
      background: #ffffff;
      border-radius: 3px;
      display: inline-block;
      width: 60px;
      height: 35.87px;
      text-align: center;
      padding: 8px;
      position: absolute;
      left: -5px;
      top: 7.5px; }
      .menu .card .Y-icon img {
        width: 20px;
        height: 20px;
        -webkit-transform: skew(35deg, 0deg);
        -ms-transform: skew(35deg, 0deg);
        transform: skew(35deg, 0deg); }
    .menu .card p {
      color: #ce0038;
      font-size: 17px;
      font-weight: bold;
      font-family: "Open Sans", sans-serif;
      line-height: 3;
      text-align: right;
      padding-right: 25px;
      -webkit-transform: skew(35deg, 0deg);
      -ms-transform: skew(35deg, 0deg);
      transform: skew(35deg, 0deg); }

.destaques {
  width: 100%;
  position: relative; }
  .destaques article {
    max-width: 707px;
    margin: 114px auto;
    text-align: center; }
    .destaques article h1 {
      text-align: center;
      font-size: 42px;
      font-family: "Roboto", sans-serif;
      font-style: italic;
      letter-spacing: 1px; }
      .destaques article h1 span {
        font-weight: bold; }
      @media (min-width: 0) and (max-width: 800px) {
        .destaques article h1 {
          font-size: 35px;
          padding: 20px; } }
    .destaques article .img-container {
      margin-top: 70px;
      display: inline-block;
      position: relative;
      width: calc(50% - 70px);
      margin-right: 70px; }
      @media (min-width: 0) and (max-width: 600px) {
        .destaques article .img-container {
          display: none; } }
      .destaques article .img-container img {
        width: 230px;
        height: 410px; }
      .destaques article .img-container .y-video {
        width: 75px;
        height: 75px;
        background: #ce0038;
        border-radius: 50%;
        line-height: 80px;
        text-align: center;
        font-size: 45px;
        position: absolute;
        top: 40%;
        right: -10px;
        color: #ffffff; }
    .destaques article .lista {
      display: inline-block;
      vertical-align: top;
      margin-top: 130px; }
      @media (min-width: 0) and (max-width: 600px) {
        .destaques article .lista {
          padding: 15px;
          margin-top: 50px; } }
      .destaques article .lista ul {
        text-align: left;
        position: relative; }
        .destaques article .lista ul li {
          margin-bottom: 33px;
          list-style-type: disc;
          color: #ffec00;
          padding-right: 10px; }
          .destaques article .lista ul li a {
            text-decoration: none;
            font-family: "Roboto", sans-serif;
            color: #060030;
            font-size: 20px;
            padding-left: 20px; }
          .destaques article .lista ul li.redeDestaq a {
            font-size: 43px;
            font-weight: bold;
            font-style: italic; }
          .destaques article .lista ul li.redeDestaq:before {
            content: "";
            display: block;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: #ffec00;
            left: -21px;
            top: 18px;
            position: absolute; }

.cheio {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-weight: 800;
  font-size: 15px;
  background: #ce0038;
  -webkit-box-shadow: 0px 1px 5px rgba(206, 0, 56, 0.35);
  box-shadow: 0px 1px 5px rgba(206, 0, 56, 0.35);
  border-radius: 4px;
  text-align: center;
  padding: 10px 18px;
  display: inline-block;
  text-decoration: none;
  -webkit-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  transform: skew(-20deg);
  text-transform: uppercase;
  font-style: normal; }

.dados {
  width: 100%;
  position: relative; }
  .dados article {
    max-width: 1300px;
    margin: 120px auto 60px auto;
    text-align: center; }
    .dados article h1 {
      font-size: 42px;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      letter-spacing: 1px;
      margin-bottom: 10px; }
    .dados article p {
      font-size: 40px;
      font-family: "Roboto", sans-serif;
      font-style: italic; }
    .dados article ul {
      margin: 48px auto;
      text-align: center;
      max-width: 900px;
      padding-left: 20px; }
      .dados article ul li {
        display: inline-block;
        margin-right: 31px;
        text-align: center;
        border-radius: 6px;
        border: 1px solid #ce0038;
        padding: 10px 20px; }
        .dados article ul li:hover {
          border: 2px solid #ce0038; }
        @media (min-width: 0) and (max-width: 600px) {
          .dados article ul li {
            margin-bottom: 30px; } }
        .dados article ul li a {
          text-decoration: none;
          font-family: "Roboto", sans-serif;
          color: #ce0038;
          font-size: 22px; }
          .dados article ul li a:hover {
            font-weight: bold;
            -webkit-box-shadow: rgba(206, 0, 56, 0.3);
            box-shadow: rgba(206, 0, 56, 0.3);
            -webkit-transition: 0.3s;
            -o-transition: 0.3s;
            transition: 0.3s; }
  .dados .velocidadeRede {
    border-left: thin solid #ce0038;
    max-width: 600px;
    margin: 0 auto;
    padding-left: 20px;
    text-align: left; }
    @media (min-width: 0) and (max-width: 600px) {
      .dados .velocidadeRede {
        padding-left: 15px; } }
    .dados .velocidadeRede .redes {
      max-width: 600px; }
      .dados .velocidadeRede .redes .rede {
        max-width: 390px;
        margin-bottom: 30px;
        border: thin solid #eee;
        border-radius: 5px;
        padding: 9px;
        font-family: "Roboto", sans-serif;
        font-size: 18px; }
        .dados .velocidadeRede .redes .rede.redeYorn {
          max-width: 360px;
          border: thin solid #eee;
          background-color: #ce0038;
          color: #ffffff;
          display: inline-block;
          padding-right: 241px; }
          @media (min-width: 0) and (max-width: 600px) {
            .dados .velocidadeRede .redes .rede.redeYorn {
              padding-right: 151px; } }
        .dados .velocidadeRede .redes .rede.outraRede {
          max-width: 205px;
          background-color: #eee;
          color: #ffffff; }
          @media (min-width: 0) and (max-width: 600px) {
            .dados .velocidadeRede .redes .rede.outraRede {
              max-width: 139px; } }
        .dados .velocidadeRede .redes .rede.outraRede2 {
          max-width: 260px;
          background-color: #eee;
          color: #ffffff; }
          @media (min-width: 0) and (max-width: 600px) {
            .dados .velocidadeRede .redes .rede.outraRede2 {
              max-width: 200px; } }
    .dados .velocidadeRede .icons {
      display: inline-block;
      max-width: 80px;
      margin-left: 10px; }
      .dados .velocidadeRede .icons img {
        width: 25px;
        height: 25px;
        margin-right: 10px; }
  .dados .dados {
    font-family: "Roboto", sans-serif;
    font-size: 21px;
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
    padding: 40px 0px 50px 9px; }
    @media (min-width: 0) and (max-width: 600px) {
      .dados .dados {
        margin-bottom: 50px; } }
    .dados .dados span {
      font-weight: bold; }

.tarifarios {
  text-align: center;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 0;
  background: -webkit-linear-gradient(270.02deg, #CE0038 16.12%, #BF0033 44.42%, #AA002B 64.48%);
  background: -o-linear-gradient(270.02deg, #CE0038 16.12%, #BF0033 44.42%, #AA002B 64.48%);
  background: linear-gradient(179.98deg, #CE0038 16.12%, #BF0033 44.42%, #AA002B 64.48%);
  padding: 30px 0px; }
  .tarifarios .title {
    color: #ffffff;
    font-weight: 500;
    font-size: 42px;
    margin: 60px 0px; }
    @media (min-width: 0) and (max-width: 768px) {
      .tarifarios .title {
        font-size: 32px; } }
  .tarifarios .cards {
    font-size: 18px;
    color: #060030;
    -webkit-box-shadow: 0px 4px 4px rgba(6, 0, 48, 0.3);
    box-shadow: 0px 4px 4px rgba(6, 0, 48, 0.3);
    width: 296px;
    display: inline-block;
    margin: 0px 15px;
    background-color: #ffffff; }
    @media (min-width: 0) and (max-width: 768px) {
      .tarifarios .cards {
        margin-bottom: 20px; } }
    .tarifarios .cards aside:nth-of-type(1) {
      width: 100%;
      height: 98px;
      text-align: center;
      background: -webkit-gradient(linear, left top, left bottom, from(#ce0038), to(#af002c));
      background: -webkit-linear-gradient(top, #ce0038 0%, #af002c 100%);
      background: -o-linear-gradient(top, #ce0038 0%, #af002c 100%);
      background: linear-gradient(180deg, #ce0038 0%, #af002c 100%); }
      .tarifarios .cards aside:nth-of-type(1) img {
        margin-top: 25px;
        height: 52px;
        width: auto; }
    .tarifarios .cards aside:nth-of-type(2) {
      background: #ffec00;
      height: 60px; }
      .tarifarios .cards aside:nth-of-type(2) img {
        width: 72px;
        height: auto;
        display: inline-block;
        margin-bottom: -10px;
        margin-top: 15px; }
      .tarifarios .cards aside:nth-of-type(2) p {
        display: inline-block; }
    .tarifarios .cards aside:nth-of-type(3) {
      margin: 0 auto;
      width: 85%;
      height: 60px;
      border-bottom: lightgrey solid 1px; }
      .tarifarios .cards aside:nth-of-type(3) img {
        width: 72px;
        height: auto;
        display: inline-block;
        margin-bottom: -10px;
        margin-top: 20px;
        margin-right: 10px; }
      .tarifarios .cards aside:nth-of-type(3) p {
        display: inline-block; }
    .tarifarios .cards aside:nth-of-type(4) {
      margin: 0 auto;
      height: 60px;
      border-bottom: lightgrey solid 1px;
      width: 85%; }
      .tarifarios .cards aside:nth-of-type(4) img {
        width: 58px;
        height: auto;
        display: inline-block;
        margin-bottom: -10px;
        margin-top: 20px;
        margin-right: 10px; }
      .tarifarios .cards aside:nth-of-type(4) p {
        display: inline-block; }
    .tarifarios .cards aside:nth-of-type(5) {
      margin: 0 auto;
      height: 99px;
      font-size: 15px;
      line-height: 18px;
      margin-top: 15px; }
      .tarifarios .cards aside:nth-of-type(5) img {
        margin-top: 15px; }
        .tarifarios .cards aside:nth-of-type(5) img:nth-of-type(2) {
          margin-left: 15px; }
  .tarifarios .cheio {
    font-family: "Open Sans", sans-serif;
    color: #ce0038;
    font-weight: 800;
    font-size: 15px;
    background: #ffffff;
    -webkit-box-shadow: 0px 1px 5px rgba(206, 0, 56, 0.35);
    box-shadow: 0px 1px 5px rgba(206, 0, 56, 0.35);
    border-radius: 4px;
    text-align: center;
    padding: 10px 18px;
    display: inline-block;
    text-decoration: none;
    -webkit-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    transform: skew(-20deg);
    text-transform: uppercase;
    font-style: normal;
    margin: 30px 0px 66px 0px; }
  .tarifarios .footer {
    font-size: 14px;
    color: #ffffff; }
    @media (min-width: 0) and (max-width: 768px) {
      .tarifarios .footer {
        display: none; } }

.xs {
  width: 100%;
  display: block;
  position: absolute;
  border-top: #ffec00 solid 4px;
  text-align: center;
  -webkit-animation: line 1s linear forwards;
  animation: line 1s linear forwards; }

@-webkit-keyframes line {
  from {
    width: 0%; }
  to {
    width: 66px; } }

@keyframes line {
  from {
    width: 0%; }
  to {
    width: 66px; } }

.xm {
  width: 100%;
  display: block;
  position: absolute;
  border-top: #ffec00 solid 4px;
  text-align: center;
  -webkit-animation: line2 1s linear forwards;
  animation: line2 1s linear forwards; }

@-webkit-keyframes line2 {
  from {
    width: 0%; }
  to {
    width: 156px; } }

@keyframes line2 {
  from {
    width: 0%; }
  to {
    width: 156px; } }

.xl {
  width: 296px;
  display: block;
  position: absolute;
  border-top: #ffec00 solid 4px;
  text-align: center;
  -webkit-animation: line3 1s linear forwards;
  animation: line3 1s linear forwards; }

@-webkit-keyframes line3 {
  from {
    width: 0%; }
  to {
    width: 296px; } }

@keyframes line3 {
  from {
    width: 0%; }
  to {
    width: 296px; } }

.hero {
  padding: 90px 0px;
  width: 100%; }
  .hero img {
    width: 100%;
    height: auto; }
  @media (min-width: 0) and (max-width: 768px) {
    .hero {
      display: none; } }

.heromobile {
  width: 100%;
  display: none; }
  .heromobile img {
    width: 100%;
    height: auto; }
  @media (min-width: 0) and (max-width: 768px) {
    .heromobile {
      display: block; } }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg"); }

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent; }

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent; }

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1; }

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25; }

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: #ce0038;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  @media (min-width: 0) and (max-width: 768px) {
    .slick-prev:before,
    .slick-next:before {
      display: none; } }

.slick-prev {
  left: -25px; }

[dir="rtl"] .slick-prev {
  right: -25px;
  left: auto; }

.slick-prev:before {
  content: "←"; }

[dir="rtl"] .slick-prev:before {
  content: "→"; }

.slick-next {
  right: -25px; }

[dir="rtl"] .slick-next {
  right: auto;
  left: -25px; }

.slick-next:before {
  content: "→"; }

[dir="rtl"] .slick-next:before {
  content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 40px;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent; }

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none; }

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1; }

.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "";
  text-align: center;
  width: 80px;
  height: 2px;
  background-color: white;
  border: white 1px solid;
  opacity: 0.35;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-dots li.slick-active button:before {
  text-align: center;
  width: 80px;
  height: 2px;
  background-color: white;
  border: white 1px solid;
  opacity: 1; }

.color {
  background: -webkit-linear-gradient(271deg, #CE0038 16%, #BF0033 44%, #AA002B 64%);
  background: -o-linear-gradient(271deg, #CE0038 16%, #BF0033 44%, #AA002B 64%);
  background: linear-gradient(179deg, #CE0038 16%, #BF0033 44%, #AA002B 64%);
  padding: 80px 0px; }

.videos {
  width: 50%;
  margin: 0 auto;
  color: white; }
  .videos h1 {
    font-family: Roboto;
    font-weight: 900;
    font-size: 45px;
    line-height: 115%;
    text-align: center;
    margin-top: 40px; }
  .videos h2 {
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 45px;
    line-height: 115%;
    text-align: center;
    margin-bottom: 30px; }
  .videos img {
    width: 100%;
    margin: 0 auto;
    height: auto; }
  @media (min-width: 0) and (max-width: 768px) {
    .videos {
      display: none; } }

.videosmobile {
  width: 60%;
  margin: 0 auto;
  display: none; }
  .videosmobile h1 {
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: 900;
    font-size: 25px;
    text-align: center; }
  .videosmobile h2 {
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 25px;
    text-align: center; }
  .videosmobile img {
    width: 100%;
    margin: 0 auto;
    height: auto; }
  @media (min-width: 0) and (max-width: 768px) {
    .videosmobile {
      display: block; } }
